.card {
  border: 2px solid black;
  border-radius: var(--border-radius);
  padding: 2rem 2rem 1rem 2rem;
  position: relative;
  height: 100%;
  margin: 0;
}

.prompt {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0, 0);
  font-weight: 600;
  margin-bottom: 0;
  position: relative;
  bottom: -12px;
}
