.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inputs label {
  margin: 4px;
}

.button {
  background-color: var(--dark-primary); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 16px;
  border-radius: var(--border-radius);
}
