.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  /* border-top: 2px solid var(--text-color); */
  justify-content: center;
  align-items: center;
  margin: 0 3rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--link-color);
}

.footer a:hover {
  text-decoration: underline;
}
