@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[var(--background-color)];
  }
}

:root {
  --dark-primary: #1d1d1d;
  --light-primary: #ffffff;
  --text-color: var(--light-primary);
  --link-color: #0070f3;
  --background-color: #111722;
  --background-color-shimmer: #171f2e;
  --background-color-hover: rgba(233, 233, 233, 0.5);
  --plot-height: 210px;
  --plot-color: rgb(57, 211, 83);
  --border-radius: 6px;
  --nav-height: 5rem;
  --content-max-width: 1200px;
  --grid-gap: 50px;
  --plot-height: 192px;
  --grey: #5e5e5f;
  --brand-icon-color: tomato;
}
