@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background-color);
}

h1 {
  font-family: "Lexend", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --dark-primary: #1d1d1d;
  --light-primary: #ffffff;
  --text-color: var(--light-primary);
  --link-color: #0070f3;
  /* --background-color: white; #111722 */
  --background-color: #111722;
  --background-color-hover: rgba(233, 233, 233, 0.5);
  --plot-height: 210px;
  --plot-color: rgb(57, 211, 83);
  --border-radius: 6px;
  --nav-height: 5rem;
  --content-max-width: 1200px;
  --grid-gap: 50px;
  --plot-height: 192px;
  --grey: #5e5e5f;
}
