.container {
  background-color: var(--background-color);
  max-width: 100vw;
  display: flex;
  justify-content: center;
  /* background: linear-gradient(#e66465, #9198e5); */
  /* background: linear-gradient(#000000, #9198e5); */
}

@media (min-width: 600px) {
  .container {
    padding: 0 32px;
  }
}

.main {
  top: var(--nav-height);
  padding: 4rem 0;
  display: flex;
  gap: var(--grid-gap);
  justify-content: center;
  color: var(--text-color);
  width: 100%;
}

.main h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.content_sticky {
  width: 35%;
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: var(--nav-height);
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  min-height: calc(100vh - var(--nav-height));
  /* width: 65%; */
  /* max-width: 60%; */
  /* max-width: 100%; */
}

.brand {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.icon {
  color: tomato;
}

@media (max-width: 768px) {
  .main {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    max-width: 100vw;
    top: var(--nav-height);
  }

  .content_sticky {
    position: relative;
    width: 100%;
    padding: 0 16px;
    top: var(--nav-height);
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .content {
    position: relative;
    width: 100%;
    min-width: 100%;
    padding: 0 16px;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .brand {
    display: flex;
    align-items: center;
    max-width: 100%;
    font-size: 2.25rem !important;
  }
}
